:root {
    --covering-background-color: var(--container-background-color);

    --covering-button-selected-size: 45px;
    --covering-button-size: 30px;
}

.covering {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    backdrop-filter: var(--blur);
    background-color: var(--covering-background-color);
    transition: height 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.covering-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
}

#covering-title {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

#covering-text {
    margin: 0;
    padding: var(--margin);
}

.covering-elements-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: var(--margin);
    border-radius: var(--radius);
    overflow: auto;
}

.covering-button-bar {
    padding: var(--margin);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--covering-button-selected-size);
    height: var(--covering-button-selected-size);
}

.covering-button {
    display: inline-block;
    width: var(--covering-button-selected-size);
    height: var(--covering-button-size);
    align-self: center;
}

.covering-button:hover {
    height: var(--covering-button-selected-size);
    cursor: pointer;
}
