:root {
    --prompt-item-height: 40px;
    --prompt-item-icon-width: var(--prompt-item-height);
    --prompt-item-margin: 8px;

    --prompt-item-background-color: var(--container-background-color);
    --prompt-item-outline-color: var(--content-outline-color);
    --prompt-item-hover-outline-color: var(--default-color);
    --prompt-item-svg-color: var(--default-color);
    --prompt-item-hover-outline-width: calc(var(--border-width) * 2);

    --prompt-item-info-background-color: var(--prompt-item-background-color);
    --prompt-item-warning-background-color: var(--lucency-yellowish);
    --prompt-item-error-background-color: var(--lucency-reddish);
}

#prompt-container {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    justify-content: center;
    overflow: visible;
    display: grid;
    grid-template-rows: auto auto;
}

.prompt-item {
    margin: var(--margin) 0 0 0;
    border-radius: var(--radius);
    backdrop-filter: var(--blur);
    background-color: var(--prompt-item-background-color);
    outline: var(--border-width) solid var(--prompt-item-outline-color);
    display: grid;
    grid-template-columns: var(--prompt-item-icon-width) auto;
    grid-row: 1;
    grid-column: 1;
}

.prompt-more {
    width: calc(var(--prompt-item-height)/2);
    height: calc(var(--prompt-item-height)/2);
    grid-row: 2;
    grid-column: 1;
    display: none;
    pointer-events: none;
    place-self: center;
}

.prompt-item:hover {
    outline: var(--prompt-item-hover-outline-width) solid
        var(--prompt-item-hover-outline-color);
}

.prompt-item-icon {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--prompt-item-margin);
}

.prompt-item-icon-svg * {
    fill: var(--prompt-item-svg-color);
}

.prompt-item-content {
    text-align: left;
    user-select: none;
    grid-row: 1;
    grid-column: 2;
    line-height: var(--prompt-item-height);
    margin: 0 var(--prompt-item-margin) 0 0;
}
