:root {
    --container-outline-color: rgba(51, 51, 51, 0.5);
    --content-outline-color: rgba(85, 85, 85, 0.5);
    --sub-content-outline-color: rgba(119, 119, 119, 0.5);
    --container-background-color: rgba(221, 221, 221, 0.5);
    --content-background-color: rgba(187, 187, 187, 0.5);
    --sub-content-background-color: rgba(170, 170, 170, 0.5);
    --viewport-background-color: rgb(238, 238, 238);
    --default-color: rgb(34, 34, 34);
    --disabled-color: rgb(119, 119, 119);
}

:root {
    --lucency-red: rgba(238, 0, 0, 0.8);
    --lucency-yellow: rgba(238, 238, 0, 0.8);

    --lucency-reddish: rgba(193, 44, 31, 0.5);
    --lucency-yellowish: rgba(255, 238, 111, 0.5);

    --radius: 5px;
    --margin: 5px;

    --blur: blur(15px);

    --border-width: 2px;

    --label-font-size: xx-small;

    --node-width: 180px;
    --node-height: 30px;

    --copyright-color: var(--sub-content-outline-color);
    --scrollbar-color: var(--content-outline-color);
}

* {
    font-family: "Microsoft YaHei", "sans serif";
    box-sizing: border-box;
    color: var(--default-color);
    transition: background-color 0.5s ease;
    touch-action: none;
}

a {
    color: var(--default-color);
}

a:hover {
    cursor: pointer;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#viewport {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--viewport-background-color);
    overflow: hidden;
}

#canvas {
    position: absolute;
}

#copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    user-select: none;
    pointer-events: none;
    color: var(--copyright-color);
}
