:root {
    --port-textarea-outline-color: var(--container-outline-color);
    --port-textarea-background-color: var(--container-background-color);

    --port-button-outline-color: var(--content-outline-color);
    --port-button-background-color: var(--content-background-color);
    --port-button-hover-background-color: var(--content-outline-color);
    --port-button-disable-background-color: var(--lucency-yellowish);
    --port-button-height: var(--node-height);
}

.port-textarea {
    font-size: medium;
    border-radius: var(--radius);
    outline: var(--border-width) solid var(--port-textarea-outline-color);
    background-color: var(--port-textarea-background-color);
    backdrop-filter: var(--blur);
    color: var(--default-color);
    border: none;
    max-width: 60vw;
    max-height: 50vh;
    min-width: 30vw;
    min-height: 20vh;
}

.port-button {
    font-size: medium;
    height: var(--port-button-height);
    width: 100%;
    text-align: center;
    border-radius: var(--radius);
    margin-top: var(--margin);
    user-select: none;
    border: none;
    outline: var(--border-width) solid var(--port-button-outline-color);
    background-color: var(--port-button-background-color);
    cursor: pointer;
}

.port-button:hover {
    background-color: var(--port-button-hover-background-color);
}

.port-button-disable {
    background-color: var(--port-button-disable-background-color);
    cursor: not-allowed;
}

.port-button-disable:hover {
    background-color: var(--port-button-disable-background-color);
}
