:root {
    --main-bar-width: 300px;
    --main-bar-margin: var(--margin);

    --main-bar-outline-color: var(--container-outline-color);
    --main-bar-background-color: var(--container-background-color);

    --combo-bar-outline-color: var(--container-outline-color);
    --combo-bar-background-color: var(--container-background-color);
    --combo-bar-shadow-color: var(--content-background-color);

    --toolbar-outline-color: var(--container-outline-color);
    --toolbar-background-color: var(--container-background-color);
    --toolbar-shadow-color: var(--content-background-color);
    --toolbar-button-free-background-color: var(--container-background-color);
    --toolbar-button-selected-background-color: var(--container-outline-color);
    --toolbar-button-size: 20px;
    --toolbar-button-margin: calc(var(--margin) / 2);

    --minimap-background-color: var(--container-background-color);
    --minimap-outline-color: var(--container-outline-color);
    --minimap-shadow-color: var(--content-background-color);
    --minimap-viewport-background-color: var(--content-background-color);
    --minimap-viewport-outline-color: var(--content-outline-color);
    --minimap-node-outline-background-color: var(--default-color);

    --bar-button-height: var(--node-height);
    --bar-button-outline-color: var(--container-outline-color);
    --bar-button-background-color: var(--container-background-color);
    --bar-button-background-hover-color: var(--container-outline-color);

    --mode-bar-button-height: calc(1.5 * var(--node-height));
    --mode-bar-button-icon-height: calc(var(--node-height));
    --mode-bar-button-select-background-color: var(--lucency-bluish);
    --mode-bar-button-move-background-color: var(--lucency-yellowish);

    --clear-button-background-color: var(--lucency-reddish);
    --clear-button-background-hover-color: var(--lucency-red);
}

.main-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--main-bar-margin);
    width: var(--main-bar-width);
}

.combo-bar {
    display: flex;
    flex-direction: column;
    gap: var(--main-bar-margin);
    padding: var(--main-bar-margin);
    width: 100%;
    backdrop-filter: var(--blur);
    background-color: var(--combo-bar-background-color);
    border-radius: var(--radius);
    outline: var(--border-width) solid var(--combo-bar-outline-color);
    box-shadow: var(--shadow) var(--combo-bar-shadow-color);
}

.row-bar {
    display: flex;
    flex-direction: row;
    gap: var(--main-bar-margin);
    height: fit-content;
    width: 100%;
}

.toolbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: var(--blur);
    background-color: var(--toolbar-background-color);
    border-radius: var(--radius);
    outline: var(--border-width) solid var(--toolbar-outline-color);
    box-shadow: var(--shadow) var(--toolbar-shadow-color);
}

.toolbar-button {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    padding: var(--toolbar-button-margin);
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    backdrop-filter: var(--blur);
    background-color: var(--toolbar-button-free-background-color);
    cursor: pointer;
    user-select: none;
}

.toolbar-button:hover {
    background-color: var(--toolbar-button-selected-background-color);
}

.minimap {
    flex: 1;
    overflow: hidden;
    backdrop-filter: var(--blur);
    background-color: var(--minimap-background-color);
    outline: var(--border-width) solid var(--minimap-outline-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow) var(--minimap-shadow-color);
}

.minimap-viewport {
    position: absolute;
    transform-origin: left top;
    background-color: var(--minimap-viewport-background-color);
    outline: var(--border-width) solid var(--minimap-viewport-outline-color);
    border-radius: var(--radius);
    cursor: grab;
}

.minimap-canvas {
    position: absolute;
    transform-origin: left top;
}

.minimap-node-outline {
    background-color: var(--minimap-node-outline-background-color);
    position: absolute;
    border-radius: var(--radius);
}

.bar-button {
    flex: 1;
    font-size: medium;
    backdrop-filter: var(--blur);
    background-color: var(--bar-button-background-color);
    border-radius: var(--radius);
    height: var(--bar-button-height);
    border-style: none;
    outline: var(--border-width) solid var(--bar-button-outline-color);
    cursor: pointer;
    align-self: center;
}

.bar-button:hover {
    background-color: var(--bar-button-background-hover-color);
}

.bar-text {
    flex: 1;
    text-align: center;
    user-select: none;
    align-self: center;
    width: 100%;
}

.mode-bar-button-select {
    background-color: var(--mode-bar-button-select-background-color);
}

.mode-bar-button-move {
    background-color: var(--mode-bar-button-move-background-color);
}

#mode-bar-button {
    height: var(--mode-bar-button-height);
    align-items: center;
    justify-content: center;
    padding: 0;
}

#mode-bar-button-icon {
    height: 70%;
}

#mode-bar-button-title {
    font-size: large;
    text-align: center;
}

#clear-button {
    background-color: var(--clear-button-background-color);
}

#clear-button:hover {
    background-color: var(--clear-button-background-hover-color);
}
