:root {
    --right-key-menu-background-color: var(--container-background-color);
    --right-key-menu-outline-color: var(--container-outline-color);
    --right-key-menu-max-width: 300px;
    --right-key-menu-min-width: 100px;

    --right-key-menu-item-select-background-color: var(
        --sub-content-background-color
    );
}

.right-key-menu {
    position: absolute;
    max-width: var(--right-key-menu-max-width);
    min-width: var(--right-key-menu-min-width);
    width: fit-content;
    height: 0;
    transition: height 0.5s ease 0s;
    display: none;
    background-color: var(--right-key-menu-background-color);
    border-radius: var(--radius);
    outline: var(--border-width) solid var(--right-key-menu-outline-color);
    backdrop-filter: var(--blur);
}

.right-key-menu-item {
    text-align: left;
    user-select: none;
    border-radius: var(--radius);
    padding: 0 5px 0 5px;
    width: auto;
    font-size: medium;
    margin: 4px;
}

.right-key-menu-item:hover {
    background-color: var(--right-key-menu-item-select-background-color);
}

.item-disabled {
    pointer-events: none;
    color: var(--disabled-color);
}
