"""
  _____  _______  _____  _______
 |_____] |  |  | |     | |______
 |       |  |  | |_____| ______|

Copyright © 2024-2025 PMoS. All rights reserved.
Automatic generated code, powered by PMoS Network Parser.
"""

# Information
# Framework: MindSpore
# Feature Supported: {feature_supported}
# PMoS Package Version: {version}
# Generation Time: {time}
{more_information}
