"""
  _____  _______  _____  _______
 |_____] |  |  | |     | |______
 |       |  |  | |_____| ______|

Copyright © 2024-2025 PMoS. All rights reserved.
Automatic generated code, powered by PMoS Network Parser.
"""

# Information
# Framework: PyTorch
# Feature Supported: {feature_supported}
# PMoS Package Version: {version}
# Generation Time: {time}
{more_information}

import torch
{other_import}

class {net_name}(torch.nn.Module):
    def __init__({init_args}, *args, **kwargs):
        super().__init__(*args, **kwargs)
        {init_code}

    def forward({inputs}):
        {forward_code}

        return {outputs}
